<div class="form-container">
  <h2>Simple Form</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text"  id="name" [(ngModel)]="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="email" required />
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea
        type="text" name="message"
        id="message"
        rows="4"
        [(ngModel)]="message"
        required
      ></textarea>
    </div>
    <button type="submit">Submit</button>
    <!-- <button type="submit" (click)="onSubmit()">Submit</button> -->
  </form>

  <div *ngIf="isSubmitted">
    <h3>Form Data</h3>
    <p><strong>Name:</strong>{{ name }}</p>
    <p><strong>Email:</strong>{{ email }}</p>
    <p><strong>Message:</strong>{{ message }}</p>
  </div>
</div>
